@keyframes loader{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

#loader{
	position: fixed;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	display:none;
	z-index: 999999;
	&:hover{cursor: none;}
	.is-exiting &{display: block}
}

#loader img{
	animation: loader 1s linear infinite;
}

form{
	font-size: $font3;
	border-bottom: 3px solid;
	display: flex;
	justify-content: space-between;
	width: 100%;
	
	input{
		background-color: transparent;
		line-height: $font3;
	}
	#s{
		@include placeholder(black);
	}
}
