header{
	background-color: $grey;
	position: fixed; left:0; top:0;
	padding: $padding2;
	width: 100vw;
	z-index: 99999;
	@include anime(.2s);
	height: 80px;
	height: 104px;
	a{
		&:hover{color: white;}
	}
	.total_posts{color: white}
	nav{
		@include anime(.2s);
		position: absolute;
		li{
			margin-bottom: 2px;
			a{
				line-height: 1.0em;
				//color:white!important;
				//&:hover{color:white}
				position: relative;
				left: 1px;
			}
		}
	}
	nav.menu{
		position: relative;
		li{
			cursor: url(../img/cursor-pointer.png) 31 23,auto;
		}
	}
	
	nav.extra{
		width: calc(100% - 0.5em);
		height: 100%; min-height: 47px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		//line-height: 1.2em;
		position: relative;
		//left: -247px;
		//& * {min-height: $font1 + 1px;}
		.timestamps{
			//margin-bottom: 2px;
			ul{
				display: flex;
				justify-content: space-between;
				color: white;
				.city{margin-bottom: 2px;}
			}
		}
	}
	&.affix{
		height: 52px;
		nav{
			//position: absolute;
			transform: translateY(-100%);
			opacity: 0;
		}
	}
	&:hover{
		height: 104px;
		nav{
			transform: translateY(0);
			opacity: 1;
		}
	}

	#search{
		position: fixed;
		background-color: $grey;
		min-width: 100vw;
		top: 0; left: 0;
		padding: $padding2 $padding2 0;
		@include anime(.2s);
	}
}