header{
	background-color: $grey;
	position: fixed; left:0; top:0;
	padding: $padding2;
	width: 100vw;
	z-index: 99999;
	@include anime(.2s);
	height: 80px;
	.total_posts{}
	nav{
		@include anime(.2s);
		position: absolute;
	}
	nav.menu{
		li{
			cursor: url(../img/cursor-pointer.png) 31 23,auto;
			line-height: 1.2em;
			min-height: $font1 + 1px;
			font-size: $font1;
			#s{
				display: block;
				background-color: transparent;
				padding: 0; border: none;
				line-height: 1.1em;
				@include placeholder(black);
			}

			#contributors-toggle{
				&:after{
					content: "+";
					display: inline-block;
					margin-left: 0.4em;
					vertical-align: middle;
				}
				&.active:after{content:"-"}
			}
		}
	}
	
	nav.extra{
		width: calc(100% - 0.5em);
		height: 100%; min-height: 44px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		line-height: 1.2em;
		//left: -190px;
		& * {min-height: $font1 + 1px;}
		.timestamps{
			ul{
				display: flex;
				justify-content: space-between;
				color: white;
			}
		}
	}
	&.affix{
		height: 52px;
		nav{
			//position: absolute;
			transform: translateY(-100%);
			opacity: 0;
		}
	}
	&:hover{
		height: 80px;
		nav{
			transform: translateY(0);
			opacity: 1;
		}
	}
}