body {
  //padding: $padding2;
  &.loading{
  	opacity: 0.5;
  	cursor: wait;
  }
}

section{
	padding: $padding2;
	padding-top: 104px + $padding2;
	min-height: 100vh;
}

.liste-images{

	min-height: 100vh;

	display: grid;                                                /* 1 */
	grid-auto-rows: 100px;                                         /* 2 */
	grid-gap: 0px;                                               /* 3 */
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));   /* 4 */

	// @for $i from 1 through 50{
	// 	.item-image:nth-child(#{$i}){
	// 		img{
	// 			//width: random(calc(25vw)) + px;
	// 			//width: #{randomNum(200, 400)}px;
	// 		}
	// 	}
	// }

	.item-image{
		background-color: white;
		&.small{grid-row: span 1}
		&.medium{grid-row: span 2}
		&.large{grid-row: span 3}

		figure{
			//display: flex;
			text-align: center;
			padding: 0 1em;
			height: 100%;
			img{
				margin: 0 auto;
				max-width: 100%;
				max-height: 100%;
				//height: 100%;
				//width: auto;
				@include anime(.2s);
				
			}
		}
		&:hover{
			//img{width: 100%;}
		}
	}
	
	
}



.about{
	h2{
		font-size: $font3;
		margin-bottom: $marge1;
	}
	
	p{
		font-size: $font3;
		line-height: 1.2em;
		line-height: 58px;
		margin-bottom: 1em;
		a{
			color: $grey;
			&:hover{color: #000}
		}
	}
}

#screensaver{
	display: none;
	position: fixed;
	top:0; left: 0;
	width: 100vw; height: 100vh;
	padding: $padding2;
	background-color: $grey;
	z-index: 99999;
	@include flexbox();
	justify-content: space-between;
	flex-direction: column;
	//mix-blend-mode: difference;
	.item{
		font-size: 10vw;
		line-height: 1em;
		&.move{
			color: white;
			text-align: center;
			transform-origin:right;
			white-space: nowrap;
			&.accr{
				animation: screensaver 7s linear 0s infinite alternate;
				
			}
			&.time{
				animation: screensaver 7s linear 0s infinite  alternate;
			}
		}
		&:nth-child(odd){
			@include flexbox();
			justify-content: space-between;
		}
	}
}

@keyframes screensaver {
    0%{transform: translateX(-150%)}
    100%{transform: translateX(150%)}
}