.liste{
	margin-bottom: $marge3;
	.item{
		margin-bottom: $marge2;
		cursor: url(../img/cursor-pointer.png) 31 23,auto;

		figure{
			display: inline-block;
			vertical-align: top;
			background: white;
			height: 94px;
			position: relative;
			width: auto;
			.placeholder{
				background: $grey;
				position: absolute;
				width: 100%; height: 100%;
				opacity: 0;
				display: none;
				@include anime();
				.loading &{
					opacity: 1; z-index: 1;
					display: block;
				}
			}
			img{
				position: relative;
				
				vertical-align: top;
				&.img404{
					display: none;
				}
				
			}
		}
		.title{
			overflow-x: hidden;
			position: relative; min-height: 70px;
			margin-bottom: $marge1;
			
			.autoradio{
				height: 100%;
				position: absolute;
				white-space:nowrap;
				text-overflow: ellipsis;
				width: 100%;
				overflow: hidden;
				//transform: translate(-50%, 0);
				display: flex;
				span{
					//display: inline-block;
					flex-shrink: 0;
					&.name{margin-right: 0.5em}
				}
			}
		}

		.url{
			white-space:nowrap;
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
		}
	
		
		&:hover{
			z-index: 9999;
			.autoradio.can{
				text-overflow:initial;
				overflow-x: auto;
				width: auto;
				animation: autoradio 5s linear infinite alternate;
				
			}
			.url{color: blue!important}
			img{
				position: fixed; 
				top: 50%;
				//top: calc(100vh - )
				transform: translateY(-50%);
				max-width: calc(50vw); 
				height: auto;
				z-index: 999;
			}
		}

		
	}
	
}

.more{
	margin-bottom: $marge3
}
@keyframes autoradio {
    0%   { transform: translate(0, 0); }
    100%   { transform: translate(-100%, 0); }
}