.liste-sort{
	margin-bottom: 1em;
	font-size: $font2;
	
}
.liste{
	margin-bottom: 1em;
	.item{
		margin-bottom: .5em;
		.col-xs-7{
			position: relative;
			cursor: url(../img/cursor-pointer.png) 31 23,auto;
			&:hover{
				z-index: 9999;
				
				img{
					position: absolute; top: 9px;
					//right: 0;
					height: auto;
					max-height: 400px; width: auto;}
			}
			.website_url{font-size: $font2;}
		}
		.img{
			display: inline;
			vertical-align: bottom;
			img{
				margin-left: .5em;
				vertical-align: baseline;
				&.img404{
					display: none;
				}
			}
		}

		
		&:hover{
			
		}

		.date,
		.from{font-size: $font2;}
	}
	
}
