.liste{
	margin-bottom: $marge3;
	.item{
		margin-bottom: $marge2;
		cursor: url(../img/cursor-pointer.png) 31 23,auto;

		.title{
			overflow-x: hidden;
			position: relative; min-height: 60px;
			//margin-bottom: $marge1;
			
			.autoradio{
				height: 100%;
				position: absolute;
				white-space:nowrap;
				text-overflow: ellipsis;
				width: 100%;
				overflow: hidden;
				//transform: translate(-50%, 0);
				display: flex;
				letter-spacing: -0.01em;
				span{
					//display: inline-block;
					flex-shrink: 0;
					//&.name{margin-right: 0.5em}
				}
			}
		}

		.url{
			white-space:nowrap;
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
			//color: gray;
		}
	
		figure{
			display: inline-block;
			vertical-align: top;
			background: white;
			height: 79px;
			position: relative;
			width: auto;
			.placeholder{
				background: $grey;
				position: absolute;
				width: 100%; height: 100%;
				opacity: 0;
				display: none;
				@include anime();
				.loading &{
					opacity: 1; z-index: 1;
					display: block;
				}
			}
			img{
				position: relative;
				
				vertical-align: top;
				&.img404{
					display: none;
				}
				
			}
		}
		
		&:hover{
			z-index: 9999;
			a{color: black!important;}
			.autoradio.can{
				text-overflow:initial;
				overflow-x: auto;
				width: auto;
				animation: autoradio 5s linear infinite alternate;
				
			}
			/*.title,
			.date,
			.from{color: $color;}
			.url{color: $darkerGrey!important}*/
		}
		.col-left:hover + .col-right{
			img{
				position: fixed; 
				top: 50%;
				transform: translateY(-50%);
				max-width: calc(50vw); 
				height: auto;
				z-index: 999;

			}
		}
		
	}
	
}

.more{
	margin-bottom: $marge3
}
@keyframes autoradio {
    0%   { transform: translate(0, 0); }
    100%   { transform: translate(-100%, 0); }
}