


/************************************************************************
 Borrowed from Bourbon: http://bourbon.io/docs/#html5-input-types

 Generate a variable ($all-text-inputs) with a list of all html5 input types that have a text-based input, excluding textarea.
 http://diveintohtml5.org/forms.html
************************************************************************/
@function assign-inputs($inputs, $pseudo: null) {
  $list : ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}

$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',

              /* Webkit & Gecko may change the display of these in the future */
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

/* Bare inputs */
$all-text-inputs: assign-inputs($inputs-list);

/* Hover Pseudo-class */
$all-text-inputs-hover: assign-inputs($inputs-list, hover);

/* Focus Pseudo-class */
$all-text-inputs-focus: assign-inputs($inputs-list, focus);


@mixin gradient($start, $end){
  background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $start 0%, $end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $start 0%, $end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@mixin _placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin scrollbars($size, $foreground-color, $background-color) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin underliner($color:black, $height:1, $bottom:0){
  &{
    display: block;
    position: relative;
  }
  &:after{
    @include anime();
    content: '';
    display: block;
    height: $height;
    width: 0;
    background: $color;
    position: absolute;
    bottom: $bottom;
  }
  &:hover:after,
  &.active:after{
    width: 100%;
  }
}