h1{
	margin: 0;
	margin-bottom: 1em;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 400;
}
a {
	color: $text-color;
	text-decoration: none;
	&:hover{color: #000}
}

.btn{
	border: 3px solid;
	padding: .3em 2em;
	display: inline-block;
}