/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$bg: #fff;
$grey: #f3f3f3;
$color: black;
$links: blue;
$hover: blue;

/* Fonts */
$font: 'TH Grotesk SEMI ( CCWA )', helvetica, monospace, sans-serif;

$font1: 13px;
$font1-ls: 20px;

$font2: 70px;
$font2-ls: 66px;


/* Borders */
$border: 1px solid #000;

/* PADDINGS */
$padding1: 10px;
$padding2: 20px;
$padding3: 40px;

$marge1: 10px;
$marge2: 20px;
$marge3: 40px;

$gutter: 0.5em;
$mobile-gutter: 13px;

$headerHeight: 100px;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;