@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  padding: 30px;
  font: 30px 'Roboto Mono', monospace, sans-serif;
  color: blue; }
  body.loading ul {
    opacity: 0.5; }

h1 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    color: #000; }

ul {
  padding: 0;
  margin: 0;
  margin-bottom: 2em; }
  ul li {
    list-style: none; }
    ul li .site-inner {
      position: relative; }
      ul li .site-inner .site-inner-date,
      ul li .site-inner .site-inner-body {
        display: inline-block;
        vertical-align: top; }
        ul li .site-inner .site-inner-date.site-inner-date,
        ul li .site-inner .site-inner-body.site-inner-date {
          margin-right: 1em; }
        ul li .site-inner .site-inner-date.site-inner-body,
        ul li .site-inner .site-inner-body.site-inner-body {
          max-width: 70%; }
      ul li .site-inner span.img {
        display: inline;
        vertical-align: bottom; }
      ul li .site-inner img {
        margin-left: .5em; }
        ul li .site-inner img.img404 {
          display: none; }
      ul li .site-inner:hover {
        z-index: 9999; }
        ul li .site-inner:hover img {
          position: absolute;
          top: 9px;
          height: 100px;
          width: auto; }

.btn {
  border: 3px solid;
  padding: .3em 2em;
  display: inline-block; }
