extends layout

block content
    header
        include header
        
    section.about
        .row
            .col-xs-9
            .col-xs-3
                h2 ABOUT
                ul
                    li
                        div
                            a(href="https://www.facebook.com/groups/393558204075688" taret="_blank") CRAZY COOL WEBSITE 
                        div
                            a(href="https://www.facebook.com/ZimmerhacklSebastian" taret="_blank") Sebastian Zimmerhackl
                    li
                        div ORIGNAL IDEA & CODING
                        a(href="https://ahmedghazi.com/" taret="_blank") Ahmed Ghazi
                    li
                        div DESIGN
                        a(href="http://www.hervethomas.com/" taret="_blank") Thomas Herve
                    li
                        div TYPEFACE IN USE
                        div Th Grotesk Semi


    