extends layout

block content
    header
        include header
        
    section.contributors
        
        each user in contributors
            .contributor
                a(href="/search/#{user}") #{user}
        

    