extends layout

block content
    header
        include header
        
    section
        .liste
            include liste
        .pagination.text-center
            input(type='hidden' value='1' id='page')
            a(href='#' class='btn more') Moar

    