extends layout

block content
    -var len = posts.length
    h1 #{title} (#{len})
    
    ul
        include liste
        

    div.pagination
        input(type='hidden' value='1' id='page')
        a(href='#' class='btn more') Moar