extends layout

block content
    -var len = 3102
    -var now = new Date();
    h1 #{title} / 2013-#{now.getFullYear()} / (#{len})
    
    ul
        include liste
        

    div.pagination
        input(type='hidden' value='1' id='page')
        a(href='#' class='btn more') Moar