extends layout

block content
    header
        include header
        
    section.search

        .row
            .col-md-6
                form
                    input(type="text" id="s" placeholder="SEARCH" autocomplete="off" value="SEARCH")
                    input(type="submit" value="↝")
            .col-md-6

                    

    